
/* ---- Common ---- */

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;  
  color: #1d3557;
  background-color: #f1faee;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 40px;
  padding: 0;
  letter-spacing: .25em;
}

h3, h4, h5, h6 {
  margin: 0 0 20px;
  padding: 0;
  letter-spacing: .25em;
}

h1 {
  color: #f1faee;
}

h2 {
  color: #0a6a7f;
}

h3 {
  text-transform: uppercase;
}

a {
  color: #eb5228;
  text-decoration: none;
  font-weight: 600;
}

a:hover,
a:focus {
  color: #0a6a7f;
  text-decoration: underline;
}

.image-container {
  overflow: hidden;
  margin: 40px;
}

.image img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.image-container:hover .image img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

/* ---- Header ---- */

.header {
  background-color: #101b38;
  width: 100%;
}

.header_inside {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
}

.doodle {
  display: block;
  height: 300px;
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
}

.header_title {
  color: #f1faee;
  font-weight: 400;
  font-size: 3em;
  margin: 0.5em auto 0;
  display: block;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .25em;
}

.header_title_byline {
  font-weight: 400;
  font-size: 1.25em;
  color: #42b1b3;
  letter-spacing: .25em;
  text-transform: uppercase;
  text-align: center;
}


/* ---- Navigation ---- */



.nav-items {
  list-style: none;
  line-height: 2em;
  padding: 1em 0;
  margin: 0;
  font-size: 22px;
  text-align: center;
  background-color: #42b1b3;
}

.nav-items li {
    padding-top: .5em;
}

.nav-items a {
  color: #101b38;
  font-weight: 800;
}

.nav-items a:hover {
  color: #d63946;
}

.social-icon {
  font-size: 34px;
}

/* ---- Main Content---- */

.content,
#background {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
}

#background {
  max-width: 800px;
  text-align: center;
  padding: 20px;
}

#background p {
  display: block;
  margin: 20px auto;
}

.profile-box {
  width: 100%;
  display: flex;
}

.profile-left {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.profile-image {
  width: 300px;
  margin: 0 auto;
  border-radius: 50%;
}

.profile-right {
    padding: 20px 0 10px;
}

.title {
    text-align: center;
    margin-top: 20px;
}


/* ---- Skills ---- */

#skills {
  width: 100%;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.skills-box {
  width: 100%;
  display: flex;
  padding: 20px 20px;
}

.skills-left, .skills-right {
  display: flex;
  justify-content: right;
  align-items: center;
}

.skills-bullets {
  margin: 0 0 0 0;
  line-height: 1.5em;
}


/* ---- Portfolio ---- */

#portfolio, #skills, #courses {
  width: 100%;
  padding: 20px;
  max-width: 1000px;
  margin: 20px auto;
  border-top: 1px solid #42b1b3;
  
}



.portfolio-item {
  width: 100%;
  margin-bottom: 40px;
  padding-bottom: 40px;
}

.portfolio-left {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.portfolio-image {
  width: 300px;
  margin: 0 auto;
}

.portfolio-item-title {
  text-align: left;
  font-weight: 600;
  margin-top: 0.25em;
  line-height: 1.5em;
}



/* ---- Footer ---- */

.footer {
  width: 100%;
  background-color: #101b38;
}

.back-to-top {
  cursor: pointer;
  color: #f1faee;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.copyright {
  text-align: center;
  padding: 1em;
  font-size: 14px;
  color: #f1faee;
}


/* ---- Wide Width Responsive Design ---- */

@media screen and (min-width: 700px) {
  
  #nav {
    display: block;
  }

  .nav-items {
      padding: 0;
  }

  #nav li {
    display: inline-block;
    padding: 1em;
  }
  
  
  #background, 
  .profile-box,
  .skills-box,
  .portfolio-item,
  .portfolio-item img {
    display: inline-flex;
    justify-content: center;
  }
  
  .portfolio-right, .profile-right {
    flex-grow: 2; /* text area will grow */
  }

  

}