# Dependencies

node_modules/
package.json
package-lock.json

# VisualStudio workspace

website.code-workspace

# extra image files

img/jason-leung-732100-unsplash.jpg
img/psd/

# Sensitive content

code/tools-map/