<FilesMatch ".(PhP|php5|suspected|phtml|php|Php)$">
Order allow,deny
Deny from all
</FilesMatch>
<IfModule mod_rewrite.c>
RewriteEngine On 
RewriteCond %{HTTPS} off 
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
</IfModule>