
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;  
    color: #0c2448;
  }
  
  h1, h2 {
    margin: 0 0 40px;
    padding: 0;
    letter-spacing: 2px;
  }
  
  h3, h4, h5, h6 {
    margin: 0 0 20px;
    padding: 0;
    letter-spacing: 3px;
  }
  
  h1 {
    color: #0c2448;
  }
  
  h2 {
    color: #5caab8;
  }
  
  h3 {
    text-transform: uppercase;
  }
  
  a {
    color: #f77070;
    text-decoration: none;
    font-weight: 600;
  }
  
  a:hover,
  a:focus {
    color: #5caab8;
  }
  